---
layout: default
---
 





 






<div class="row flex-top">
    
    {% for post in site.posts %}
    <div class="card sm-6 md-4 padding-small" >
      <a class="card-link" href="{{ post.url }}">
        <img src="https://og.mrinal.tk/api?title={{ post.title }}&description={{ post.content | strip_html | truncatewords: 20 }}&avatar=+&author=mrinalcs@github"  >
      </a>
        <div class="card-body">
          <a class="card-link" href="{{ post.url }}">
            <h4 class="card-title">{{ post.title }}</h4>
          </a>
          <h5 class="card-subtitle">{{ post.subtitle }}.</h5>
          <p class="card-text">{{ post.content | strip_html | truncatewords: 20 }}</p>
          <a class="card-link" href="{{ post.url }}">Read More..</a>
          
        </div>
      </div>
  
      {% endfor %}

  </div>